@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mouse-aura {
    @apply fixed inset-0 pointer-events-none;
    background-image: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      rgba(63, 81, 181, 0.3) 0%,
      rgba(63, 81, 181, 0.15) 30%,
      rgba(63, 81, 181, 0) 50%
    );

    @media (hover: none) and (pointer: coarse) {
      background-image: radial-gradient(
        circle at top left,
        rgba(63, 81, 181, 0.3) 0%,
        rgba(63, 81, 181, 0.15) 30%,
        rgba(63, 81, 181, 0) 50%
      );
    }
  }
}
@keyframes loadingAnimation {
  0% {
    width: 0%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-loading {
  animation: loading 3s linear infinite;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}